{% autoescape off %}
Salut {{ user.get_username }},

Ai solicitat resetarea parolei pentru contul tău de pe JoburipentruRomani. Te rugăm să accesezi următorul link pentru a-ți seta o parolă nouă:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Dacă ai probleme la accesarea link-ului, copiază-l și lipește-l în browser.

Dacă nu ai solicitat resetarea parolei, poți ignora acest email. Contul tău este în siguranță.

Cu stimă,
Echipa JoburipentruRomani
{% endautoescape %}